html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Lucida Console";
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(5, 94, 121, 0.8);
    border-radius: 5px;
}

.horizontalContainer {
    width: 100%;
}

.horizontalContainer > div {
    width: auto;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.checkDiv {
    text-align: right;
}

.checkDiv > div {
    display: inline-block;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
    width: 90px;
    margin-right: 0px;
}

button {
    border-radius: 2px;
    border-width: 2px;
    background-color:rgb(255, 255, 255)
}

button:hover {
    cursor: pointer;
    background-color:rgb(165, 165, 165)
}

#tCont {
    padding: 10px;
}

#topDiv {
    color: white;
    width: calc(500px) !important;
    height: 60px;
    position: fixed;
    top: calc(2%);
    left: 2%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

#sideDiv {
    color: white;
    width: calc(500px) !important;
    height: calc(96% - 240px);
    position: fixed;
    top: calc(2% + 90px);
    left: 2%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

#bottomDiv {
    color: white;
    position: fixed;
    text-align: center;
    bottom: 2%;
    left: 2%;
    width: calc(96% - 20px);
    height: 100px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

#Update-div {
    padding: 10px;
}

#Update-div > * {
    width: calc(20%);
    height: 20px;
}

/* https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/*/

input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 95%;
    left: 2.5%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

#sliderBar-div {
    width: 95%;
    left: 2.5%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 0;
    border-radius: 5px;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #3264fe;
}
